body {
    margin: 0;
    padding: 0;
    height: max-content;
    background-color:white;
}
body .image {
    height: 1080px;
    width: auto;
    background-color: white;
z-index: -100;}
.textcontent {z-index: 5;
    color: black;
    display: flex;
}