@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Source+Sans+Pro:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: max-content;
    background-color: #ffffff;
    font-family: system-ui;
}
.image {
    height: 1080px;
    width: auto;
    background-color: #F5DADF;
    line-height: 0;
    z-index: -100;
}
.navbar{
    color: #FFA9D1; position: absolute; top: 0%; width:0%; text-align: center;
}
.navbar .home{
    height: 70px;
    width: auto;
}
li, a {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold 700;
    font-size: 16px;
    color: #FFA9D1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
